.main-page-main-container {
  display: flex;
}

.sidebar-show-container {
  height: 100vh;
  background-color: #F5F4F4;
  /* border-right-style: solid;
  border-color: #d9d9d9; */
  border-right: 1px solid #d9d9d9;
  box-shadow: 4px 0 2px -2px #F5F4F4;
}

.sidebar-collapse-button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #d9d9d9;
  box-shadow: 1px 1px 2px 1px #888888;
  background-color: #F5F4F4;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.6rem;
  font-weight: 900;
  color: #2F2F2F;
  margin-top: 7px;
  margin-right: -14px;
}

.sidebar-collapse-button:hover {
  background-color: #615DEC;
  border: 1px solid #615DEC;
  box-shadow: 1px 1px 2px 1px #615DEC;
  cursor: pointer;
  color: white;
}

.sidebar-project-name-container {
  display: flex;
  margin-top: 22px;
  margin-left: 15px;
}

.sidebar-project-project-logo {
  color: #2F2F2F;
  margin: 5px;
  margin-top: 15px;
}

.fa-solid.fa-list-check {
  font-size: 1.5rem;
}

.sidebar-project-name {
  width: 180px;
  margin-top: 10px;
  margin-bottom: 2px;
  padding-left: 10px;
  font-size: 1rem;
  color: #2F2F2F;
}

.sidebar-project-subtitle {
  font-size: 0.85rem;
  padding-left: 10px;
  color: #888888;
}

.sidebar-project-planning-container {
  margin-top: 70px;
  margin-left: 20px;
}

.sidebar-project-planning-title {
  font-size: 0.75rem;
  font-weight: 600;
  color: #2F2F2F;
}

.sidebar-project-planning-board {
  display: flex;
  background-color: #e3e3e3;
  margin-top: 5px;
  padding-bottom: 8px;
  padding-left:5px;
  width: 90%;
  height: 30px;
  align-items: center;
  border-radius: 3px;
  border-left-style: solid;
  border-color: #615DEC;
}

.sidebar-project-planning-board-title {
  margin: 5px;
  margin-top: 15px;
  margin-left: 10px;
  color: #2F2F2F;
  font-size: 1rem;
}

.Sidebar-close-container {
  height: 100vh;
  border-right: 1px solid #d9d9d9;
  box-shadow: 4px 0 2px -2px #F5F4F4;
}

.sidebar-footer-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 50vh;
  margin-top: 30px;
}

.breakline {
  color: #e3e3e3;
  margin-top: 150px;
  width: 90%;
}

.sidebar-footer {
  color: #888888;
  font-size: 0.9rem;
  margin-left: 10px;
  margin-bottom: 30px;
}

.sidebar-social-container {
  /* margin-top: 90px; */
  font-size: 1rem;
  color: #888888;
  margin-left: 40px;
}

.sidebar-my-name {
  animation: rainbow2 10s ease infinite;
}

.sidebar-social-link-container {
  margin: 10px 0px 20px 95px;
}

.sidebar-social-link {
  color: #888888;
  font-size: 1rem;
  margin-left: 10px;
  margin-top: 50px;
}

@keyframes rainbow2{
  0%{
    color: #FFD166
  }
  25%{
    color: #06D6A0
  }
  50%{
    color:#78C3FB;
  }
  55%{
    color:#EF476F;
  }
  100%{
    color:#FFD166
  }
}




.project-main-container {
  /* background-color: #16E0BD; */
  display: flex;
	flex-direction: column;
	min-height: 100px;
  max-height: auto;
  width: 3000px;
  margin-top: 30px;
  margin-left: 40px;
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
}

.project-path {
  font-size: 0.9rem;
  color: #888888;
  margin-bottom: 18px;
}

.project-title {
  height: 50px;
  font-size: 1.5rem;
  font-weight: 500;
}

.user-circle-container {
  margin: 15px 0px 35px 0px;
  display: flex;
}

.curr-user-circle {
  font-size: 0.9rem;
  color: white;
  height: 33px;
  width: 33px;
  background-color: #615DEC;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.other-user-circle {
  font-size: 0.9rem;
  color: white;
  height: 33px;
  width: 33px;
  background-color: #16E0BD;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.phase-main-container {
  display: flex;
	flex-direction: row;
	min-height: 100px;
  max-height: auto;
  width: 3000px;
}

.card-container {
  position: relative;
  background-color: #F5F4F4;
  width: 300px;
  border-radius: 2%;
  margin-right: 12px;
}

.phase-title-container {
  display: flex;
  position: relative;
  /* margin-bottom: 20px; */
}


.phase-title {
  position: relative;
  display: flex;
  margin: 20px auto;
  /* margin-left: 20px; */
  font-size: 0.8rem;
  color: #2F2F2F;

  /* height: auto; */
  width: 80%;
  border-radius: 3%;
  padding: 10px;
  padding-left: 10px;
  /* padding-bottom: 10px; */
  margin: 8px 20px 8px 5px;
  border-radius: 3%;
}

.phase-title:hover {
  cursor: pointer;
  background-color: #e3e3e3;
  width: 73%;
}

#phase-title-done {
  color: #16E0BD;
  margin-left: 8px;
}

.issue-card-container {
  position: relative;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* margin: 20px; */
  width: 96%;
}

/* .issue-card {
  background-color: #16E0BD;
  position: absolute;
  margin-top: 40px;
  height: auto;
} */

.issue-card-outer {
  /* position: relative; */
  height: auto;
  width: 100%;
  font-size: 0.9rem;
  color: black;
  border-radius: 3%;
  margin: 3px;
  margin-left: 5px;
  background-color: white;
  box-shadow: 0px 1px 1px 1px #e4e4e4;
  min-height: 90px;
  /* background-color: #16E0BD; */
}


.issue-summary {
  margin: 10px 0px 0px 10px;
  width: 200px;
  min-height: 40px;
  height: auto;
  padding-bottom: 10px;
  text-decoration: none;
}

.issue-card-title {
  display: flex;
	flex-direction: row;
  justify-content: space-between;
}

.fa-solid.fa-ellipsis {
  font-size: 1.1rem;
}

.issue-card-outer:hover {
  background-color: #F5F4F4;
  cursor: pointer;
}

.fa-solid.fa-square-check {
  color: #615DEC;
  font-size: 1rem;
  /* margin-right: 5px;
  margin-top: 20px; */
}

.project-name-outer {
  margin: 10px 0px 15px 10px;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.project-name-left {
  display: flex;
}

.project-name-icon {
  margin-right: 8px;
  margin-top: 2px;
}

.project-name {
  color: #888888;
  margin-top: 2px;
}

.curr-user-circle-small {
  font-size: 0.6rem;
  color: white;
  height: 22px;
  width: 22px;
  background-color: #615DEC;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.other-user-circle-small {
  font-size: 0.6rem;
  color: white;
  height: 22px;
  width: 22px;
  background-color: #16E0BD;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-issue-outer {
  height: auto;
  width: 89%;
  font-size: 0.85rem;
  color: #2F2F2F;
  border-radius: 3%;
  padding: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  margin: 3px 40px 10px 5px;
  font-weight: 500;
  border-radius: 3%;
  /* background-color: #615DEC; */
}

.create-issue-outer:hover {
  cursor: pointer;
  background-color: #e3e3e3;
 }

#create-issue-plus {
  font-size: 0.95rem;
  color: #2F2F2F;
  margin-right: 2px;
}

#create-phase-plus {
  font-size: 1.4rem;
  height: 35px;
  width: 35px;
  color: #2F2F2F;
  background-color: #F5F4F4;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3%;
}

#create-phase-plus:hover {
  background-color: #e3e3e3;
  cursor: pointer;
}
