.outer-container {
  display: flex;
	flex-direction: row;
  justify-content: space-between;
	height: 400px;
  /* width: auto; */
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
  /* background-color: #F5F4F4; */
}

.card-container-outer {
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 35px;
  background-color: #F5F4F4;
  width: 500px;
  border-radius: 2%;
}
