.home-page-main-container{
  height: 100vh;
  width: 100vw;
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative; */
  display: flex;
  justify-content: center;
  padding-top: 120px;
  background: rgb(48,23,129);
  background: linear-gradient(90deg, rgba(48,23,129,1) 0%, rgba(97,93,236,1) 55%);
  /* background-color: #615DEC; */
}

.home-page-left-container {
  color: white;
  margin-top: 20px;
}

.home-page-title {
  font-size: 3rem;
}

.home-page-subTitle li {
  line-height: 300%;
  list-style-type: none;
  left: 0;
  margin-top: 20px;
  margin-left: -40px;
  margin-right: 150px;
}

.social-container {
  margin-top: 60px;
  font-size: 1.5rem;
}

.my-name {
  animation: rainbow 10s ease infinite;
}

.social-link {
  color: white;
  font-size: 30px;
  margin-left: 10px;
  margin-top: 50px;
}

@keyframes rainbow{
  0%{
    color: #FFD166
  }
  25%{
    color: #06D6A0
  }
  50%{
    color:#78C3FB;
  }
  75%{
    color:#EF476F;
  }
  100%{
    color:#FFD166
  }
}
