.update-issue-main-container{
  display: flex;
  width: auto;
  height: auto;
  color: #2F2F2F;
}

.update-issue-title {
  color: #888888;
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 10px;
  height: 20px;
  margin-bottom: 10px;
}

.update-issue-summary-errors {
  color: #EF476F;
  font-size: 0.8rem;
}

.update-issue-right-container,
.update-issue-left-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;
  width: 400px;
}

.update-issue-left-container {
  margin-left: 40px;
}

.update-issue-summary {
  display: flex;
  /* margin: 0px; */
  align-items: center;
  min-height: 30px;
  border-radius: 3px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1.2rem;
  width: 320px;
}

.update-issue-summary:hover {
  cursor: pointer;
  background-color: #F5F4F4;
  width: 320px;
}

.summary-form {
  display: flex;
  flex-direction: column;
}

.update-issue-summary-input-container {
  min-height: 40px;
}

.update-issue-summary-input {
  border: 2px solid #615DEC;
  font-size: 1.2rem;
  min-height: 40px;
  max-height: auto;
  width: 320px;
  padding-left: 10px;
  position: absolute;
}


.update-issue-summary-button-container {
  position: absolute;
  display: flex;
  margin-left: 266px;
  margin-top: 45px;
  z-index: 2;
}

.update-issue-summary-button {
  margin-top: 3px;
  margin-left: 5px;
  background-color: #e3e3e3;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  color: #2F2F2F;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
}

.update-issue-description {
  margin-top: 40px;
  margin-bottom: 30px;
  width: 100%;
}

.update-issue-description-label {
  font-weight: 600;
  font-size: 1rem;
  padding-left: 10px;
  margin-bottom: 10px;
}

.update-issue-description-errors {
  color: #EF476F;
  font-size: 0.8rem;
  margin: 3px 0px 3px 10px;
}

.update-issue-description-placeholder {
  font-size: 0.9rem;
  color: #888888;
  min-height: 40px;
  height: auto;
  display: flex;
  align-items: center;
  border-radius: 3px;
  padding-left: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  overflow-y: auto;
  overflow-x: auto;
  width: 320px;
  word-break: break-word;
}

.update-issue-description-placeholder:hover {
  cursor: pointer;
  background-color: #F5F4F4;
  padding-top: 8px;
  padding-bottom: 8px;
  min-height: 40px;
  width: 320px;
  word-break: break-word;
}

.update-issue-description-input-container {
  margin-left: 10px;
  margin-top: 5px;
  height: 80px;
  margin-bottom: 20px;
}

.update-issue-description-input {
  font-size: 1rem;
  padding-left: 10px;
  padding-top: 10px;
  width: 310px;
  min-width: 310x;
  max-width: 310px;
  height: 100px;
  min-height: 100px;
  max-height: 100px;
  border: 1px solid #888888;
  position: absolute;
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
}

.update-issue-description-button-container {
  display: flex;
  position: absolute;
  margin-top: 120px;
  z-index: 2;
}

.update-issue-description-save {
  margin-top: 3px;
  margin-right: 5px;
  background-color: #e3e3e3;
  border: none;
  width: 60px;
  height: 30px;
  border-radius: 3px;
  color: white;
  background-color: #615DEC;
  font-size: 0.9rem;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
}

.update-issue-description-cancel {
  color: #2F2F2F;
  font-size: 0.9rem;
  margin: 10px 0px 0px 10px;
}

.update-issue-footer {
  padding-left: 10px;
  margin-top: 16px;
  margin-bottom: 40px;
  font-size: 0.7rem;
  color: #888888;
}

.update-issue-time-container {
  padding-left: 10px;
  margin-top: 50px;
  font-size: 0.7rem;
  color: #888888;
}

.update-issue-time-inner {
  margin-top: 6px;
}

.update-issue-right-container {
  margin-left: 15px;
  margin-top: 67px;
  margin-right: -10px;
}

.update-issue-right-phase-selector {
  font-size: 0.80rem;
  color: white;
  background-color: #615DEC;
  height: 36px;
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  border: 2px solid #615DEC;
}

.update-issue-right-assignee-reporter {
  position: absolute;
  margin-bottom: 40px;
  margin-top: 70px;
  padding: 10px;
  border: 1px solid #d7d7d7;
  border-radius: 5px;
  width: 320px;
}

.update-issue-reporter,
.update-issue-assignee {
  display: flex;
  margin: 10px;
  /* justify-content: space-between; */
}

.update-issue-label-container {
  display: flex;
  font-size: 0.8rem;
  font-weight: 600;
  padding-top: 10px;
  position: relative;
  width: 100px;
}

.update-issue-assignee-select {
  font-size: 0.9rem;
  font-weight: 300;
  border: none;
  height: 36px;
  width: 190px;
  padding-left: 10px;
  padding-right: 3px;
  border-radius: 3px;
  margin-bottom: 20px;
  margin-left: 20px;
  appearance: none;
  display: flex;
  justify-content: center;
}

.update-issue-assignee-select:hover {
  background-color: #F5F4F4;
  cursor: pointer;
}

.update-issue-assignee-select:focus {
  outline: none;
  border: 2px solid #615DEC;
}

.update-issue-attachment-upload-container {
  display: flex;
  /* margin-left: 10px; */
  margin-top: 10px;
}

/* .file-upload::-webkit-file-upload-button {
  visibility: hidden;
} */

#file-upload {
  margin-left: 10px;
}

.file-upload-container {
  display: flex;
  flex-direction: column;
}

.update-issue-upload-button {
  margin-top: 5px;
  margin-left: 10px;
  width: 87px;
}

/* .custom-file-upload {
  border-radius: 3px;
  background-color: #F5F4F4;
  display: flex;
  padding: 5px 8px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
  color: #2F2F2F;
  width: 70px;
  margin-left: 10px;
  margin-top: 10px;
} */

.upload-issue-attach-label {
  margin-left: 5px;
}

#update-issue-paperclip {
  color: #2F2F2F;
  /* font-weight: 500; */
  font-size: 18px;
}

.update-issue-attachment-img {
  margin-top: 5px;
  width: 100px;
  height: auto;
}

.fa-regular.fa-file-word {
  margin-top: 5px;
  font-size: 70px;
  color: #888888;
}

.issue-card-attachment-img {
  border-radius: 5px 5px 0px 0px;
  width: 100%;
  height: 100px;
}

.fa-solid.fa-paperclip {
  font-size: 20px;
  color: #888888;
}

.update-issue-attachment-errors {
  color: #EF476F;
  font-size: 0.8rem;
  margin-left: 10px;
}
