.update-issue-main-container{
  display: flex;
  width: 1000px;
  height: 450px;
  color: #2F2F2F;
}

.update-issue-summary-errors {
  color: #EF476F;
  font-size: 0.8rem;
  margin: 0px 0px -20px 10px;
}

.update-issue-right-container,
.update-issue-left-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 50px;
  width: 100%;
}

.update-issue-left-container {
  margin-left: 60px;
  margin-right: 30px;
}

.update-issue-right-container {
  margin-top: 67px;
}


.update-issue-summary {
  display: flex;
  align-items: center;
  margin-top: -70px;
  height: 40px;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 1.2rem;
}

.update-issue-summary:hover {
  cursor: pointer;
  background-color: #F5F4F4;
 }

.update-issue-summary-input-container {
  display: flex;
  align-items: center;
  margin-top: -45px;

  border-radius: 5px;
  padding-left: 10px;
}

.update-issue-summary-input {
  border: 2px solid #615DEC;
  font-size: 1.2rem;
  height: 40px;
  width: 400px;
  padding-left: 10px;
}

.update-issue-summary-button-container {
  margin-left: 338px;
}

.update-issue-summary-button {
  margin-top: 3px;
  margin-left: 5px;
  background-color: #e3e3e3;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  color: #2F2F2F;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
}

.update-issue-description {
  margin-top: 0px;
  width: 100%;
}

.update-issue-description-label {
  font-weight: 600;
  font-size: 1rem;
  padding-left: 10px;
  margin-top: -40px;
}

.update-issue-description-errors {
  color: #EF476F;
  font-size: 0.8rem;
  margin: 3px 0px 3px 10px;
}

.update-issue-description-placeholder {
  font-size: 0.9rem;
  color: #888888;
  height: 35px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding-left: 10px;
  margin-left: 10px;
  /* background-color: #615DEC; */
}

.update-issue-description-placeholder:hover {
  cursor: pointer;
  background-color: #F5F4F4;
}

.update-issue-description-input-container {
  margin-left: 10px;
  width: 400px;
  height: 100px;
  /* background-color: #615DEC; */
}

.update-issue-description-input {
  font-size: 1rem;
  padding-left: 10px;
  padding-top: 10px;
  width: 400px;
  height: 100px;
  border: 2px solid #615DEC;
}

.update-issue-description-button-container {
  display: flex;
}

.update-issue-description-save {
  margin-top: 3px;
  margin-right: 5px;
  background-color: #e3e3e3;
  border: none;
  width: 60px;
  height: 30px;
  border-radius: 3px;
  color: white;
  background-color: #615DEC;
  font-size: 0.9rem;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
}

.update-issue-description-cancel {
  color: #2F2F2F;
  font-size: 0.9rem;
  margin: 10px 0px 0px 10px;
}

.update-issue-time-container {
  padding-left: 10px;
  margin-bottom: 40px;
  font-size: 0.7rem;
  color: #888888;
}

.update-issue-time-inner {
  margin-top: 6px;
}

.update-issue-right-phase-selector {
  font-size: 0.85rem;
  color: white;
  background-color: #615DEC;
  height: 36px;
  width: auto;
  padding-left: 10px;
  padding-right: 3px;
  border-radius: 5px;
  border: 2px solid #615DEC;
}

.update-issue-right-assignee-reporter {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #d7d7d7;
  border-radius: 5px;
  width: 360px;
}

.update-issue-reporter,
.update-issue-assignee {
  display: flex;
  margin: 10px;
  /* justify-content: space-between; */
}

.update-issue-label-container {
  display: flex;
  font-size: 0.8rem;
  font-weight: 600;
  padding-top: 10px;
  position: relative;
  width: 100px;
  margin-right: 40px;
}

.update-issue-assignee-select {
  font-size: 0.9rem;
  font-weight: 300;
  border: none;
  height: 36px;
  width: 200px;
  padding-left: 10px;
  padding-right: 3px;
  border-radius: 3px;
  margin-bottom: 20px;
  appearance: none;
}

.update-issue-assignee-select:hover {
  background-color: #F5F4F4;
  cursor: pointer;
}

.update-issue-assignee-select:focus {
  outline: none;
  border: 2px solid #615DEC;
}
