.attach-delete-container {
  display: none;
  width: 13px;
  height: 13px;
  border-radius: 2px;
  text-align: center;
  float: left;
  padding: 10px;
  margin: 2px;
  background-color: #F5F4F4;
  z-index: 1;
  cursor: pointer;
}

.update-issue-attachment-container:hover .attach-delete-container {
  display: block;
}

.fa-sharp.fa-solid .fa-trash {
  color: #2F2F2F;
}
